@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="row templatemo_main">
    <div id="home" class="main_box">
        <h1>Simple Search Tool</h1>
        <p>
            <em>
                This is the tool to help you can find the string value. It is very easy to use, you can create a new CSV file by click on the "Insert Data"
                or find a text string in the CSV when provider the text and click "Search Data" Button.
                Enjoy it :)
            </em>
        </p>
    </div>

</div>
<div class="row main_search_box">
    <div class="col-md-2">
        <button class="btn-style btn-insert-data btn-tooltip home" style="float: left">Insert Data</button>
    </div>
    <div class="col-md-10">
        <div class="col-md-8">
            <input id="txtKeywords" class="txt-search" placeholder="Insert your keywords" />
        </div>
        <div class="col-md-4">
            <button class="btn-style btn-tooltip btn-search-data" style="float: right">Search Data</button>
        </div>
    </div>

</div>
<div class="row">
    <table class="table table-striped table-bordered table-hover dt-responsive" id="table-data">
        <thead>
            <tr>
                <th class="col-md-4">String ID</th>
                <th class="col-md-6">Content</th>
                <th class="col-md-2">Match Time (In Miliseconds)</th>
            </tr>
        </thead>
    </table>
</div>


@section PluginScripts {
    @Scripts.Render("~/bundles/homepage")
    @*<script src="@Url.Content("~/Scripts/pages/homepage.js")" asp-append-version="true"></script>*@
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            HOMEPAGE.url_create_csv = "@Url.Action("CreateCsv", "Home")";
            HOMEPAGE.url_search = "@Url.Action("GetSeachValue", "Home")";
            //TOUR.url_edit = "@Url.Action("Update", "Tour")";
            HOMEPAGE.init_page();
        });
    </script>
}
