<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Simple Search Tool</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    @*<script type='text/javascript' src='js/jquery.min.js'></script>
        <script type='text/javascript' src='js/jquery.scrollTo-min.js'></script>
        <script type='text/javascript' src='js/jquery.localscroll-min.js'></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $.localScroll();
            });
        </script>*@
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)
</head>
<body>

    <div id="page-container">
        <div id="content_header">
            <div id="site_title"><a href="#">Simple Search Tool</a></div>
        </div>

        <div id="content_menu">
            <ul>
                <li><a href="#home" class="home"><span></span></a></li>
            </ul>
        </div>

        <div id="content_main">
            @RenderBody()
            <!--<div id="home" class="main_box">
                <h1>Welcome to Simple Grid</h1>
                <div class="col col_23">
                    <img src="images/templatemo_image_01.jpg" alt="image" class="img_frame" />
                    <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer varius consectetur arcu, ut fermentum sem adipiscing id.</em></p>
                    <p>Simple Grid is one of the free website templates by templatemo for your personal or commercial websites. Sed vitae aliquam arcu. Donec urna massa, cursus et mattis at, mattis quis lectus. Cras in erat purus. Aliquam odio nibh, suscipit quis venenatis vitae, fringilla at quam. Proin turpis nibh, vestibulum non dignissim a, blandit at nulla. Curabitur vestibulum mattis sapien, id mollis arcu cursus vel. Nulla rutrum, risus eu elementum aliquet, ipsum risus venenatis enim, in viverra mi dui in sapien. Cras vulputate laoreet porta. In mi enim, pulvinar vitae vehicula vestibulum, fringilla quis risus. </p>
                    <div class="cleaner h40"></div>
                    <h3>Our Service Lists</h3>
                    <ul class="tmo_list">
                        <li>Nulla facilisi. Maecenas ac odio ipsum donec cursus</li>
                        <li>Fusce risus tortor, interdum in malesuada pulvinar</li>
                        <li>Proin facilisis ullamcorper turpis, in placerat</li>
                        <li>Sed vel justo quis ligula blandit commodo molestie</li>
                        <li>Ut tristique sagittis arcu, vel laoreet turpis</li>
                    </ul>
                </div>
                <div class="col col_13 no_margin_right">
                    <h3>Testimonials</h3>
                    <blockquote>
                        <p>Fusce nec felis id lacus sollicitudin vulputate. Proin tincidunt, arcu id pellentesque accumsan, neque dolor imperdiet ligula, quis viverra tellus nulla a odio. Curabitur vitae enim risus, at placerat turpis. </p>
                        <cite>Juvin Nile - <span>Senior Webmaster</span></cite>
                    </blockquote>
                    <blockquote>
                        <p>Donec purus nulla, egestas ac porttitor et, pharetra nec felis. Donec lobortis fringilla blandit. Fusce a purus vel justo pulvinar tempor.  In ligula arcu, facilisis commodo lacinia in, vehicula  lacus. </p>
                        <cite>Paul - <span>Web Designer</span></cite>
                    </blockquote>

                    <div class="cleaner h40"></div>

                    <h3>Twitter</h3>
                    <ul class="twitter_post">
                        <li>Suspendisse at scelerisque urna. Aenean tincidunt massa in tellus varius ultricies. <a href="#">http://bit.ly/13IwZO</a></li>
                        <li>Aliquam odio nibh, suscipit quis venenatis vitae, fringilla at quam. <a href="#">http://bit.ly/PPIwP</a></li>
                        <li>Proin tincidunt, arcu id pellentesque accumsan, neque dolor imperdiet ligula, quis viverra tellus nulla odio. <a href="#">http://bit.ly/I9IUY</a></li>
                    </ul>
                </div>
                <div class="cleaner"></div>
                <a href="#templatemo_header" class="gototop">Go To Top</a>
                <div class="cleaner"></div>
            </div>-->
            <!-- END of home -->
        </div> <!-- END of -->

        <div class="footer">
            Develop by Binh LE
        </div>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common")
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    @RenderSection("PluginScripts", required: false)
    @RenderSection("Scripts", required: false)
</body>
</html>